<ion-content [scrollY]="false">
  <ion-icon name="close" id="iclose" (click)="onClose()"></ion-icon>
  <ion-img src="../../assets/img/img15.jpg"></ion-img>
  <br>
  <br>
  <ion-list>
      <ion-item>
          <ion-icon class="icons" item-left name="phone-portrait"></ion-icon>&emsp;
          <ion-label color="primary">账号：</ion-label>
          <ion-input type="text" placeholder="输入用户名" [(ngModel)]="username" (ionBlur)="onBlur1()"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon class="icons" item-left name="school"></ion-icon>&emsp;
        <ion-label color="primary">昵称：</ion-label>
        <ion-input type="text" placeholder="输入昵称" [(ngModel)]="nicheng"></ion-input>
    </ion-item>
      <ion-item>
          <ion-icon class="icons" name="lock"></ion-icon>&emsp;
          <ion-label color="primary">密码：</ion-label>
          <ion-input type="password" placeholder="输入密码" [(ngModel)]="password1" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon class="icons" name="lock"></ion-icon>&emsp;
        <ion-label color="primary">确认密码：</ion-label>
        <ion-input type="password" placeholder="确认密码" [(ngModel)]="password2" ></ion-input>
      </ion-item>
  </ion-list>
  
  <ion-button class="login" (click)="getRegister()" color="primary" fill="solid"
   size="default" type="button" id="btn_login" expand="block"> 
           <ion-icon item-left name="snow"></ion-icon>
   注册</ion-button>
   
  </ion-content>