<ion-header>
  <ion-toolbar>
    <ion-segment [(ngModel)]="tab" style="height: 30px;">
      <ion-segment-button value="tab1" (click)="newlist()">
        <ion-label>最新</ion-label>
      </ion-segment-button>

      <ion-segment-button value="tab2" (click)="sglist()">
        <ion-label>时光说</ion-label>
      </ion-segment-button>

      <ion-segment-button value="tab3" (click)="mylist()">
        <ion-label>我的</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="info" [ngSwitch]="tab">
    <div *ngSwitchCase="'tab1'">
      <div *ngFor="let item of diaryList" id="diary" (click)="goXiangqing1(item)">
        <div id="top">
          <ion-avatar>
            <img src={{item.image}} alt="">
          </ion-avatar>
          <span id="span1">{{item.nicheng}}</span>&nbsp;&nbsp;<span id="span2">{{item.month}}-{{item.day}}</span>
        </div>
        <div id="text">
          <p>{{item.text}}</p>
        </div>
        <div id="tubiao">
          
          <ion-icon [ngStyle]="{'color': item.color}" name="heart" (click)="dianzan(item)"></ion-icon>
          <span style="display: block; font-size: 14px; color: grey; width: 20px; float: right;">{{item.zan}}</span>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'tab2'" >
      <ion-card *ngFor="let item of myShiguang">
        <ion-item id="shiguangshuo0">
          <ion-label>A Card Of Future</ion-label>     
        </ion-item>
      
        <ion-card-content style="color: rgb(70, 69, 69);">
          {{item.shiguangshuo}}
        </ion-card-content>
      </ion-card>
    </div>

    <div *ngSwitchCase="'tab3'">
      <div *ngFor="let item of myDiary;" id="diary" (click)="goXiangqing3(item)">
        <div id="top">
          <ion-avatar>
            <img src={{item.image}} alt="">
          </ion-avatar>
          <span id="span1">{{item.nicheng}}</span>&nbsp;&nbsp;<span id="span2">{{item.month}}-{{item.day}}</span>
        </div>
        <div id="text">
          <p>{{item.text}}</p>
        </div>
        <div id="tubiao">
          <ion-icon style="color: lightslategray;" name="heart"></ion-icon>
        </div>
      </div>
     
    </div>
  </div>
  
</ion-content>