<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>时光说</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<p style="font-family: YouYuan; font-size: 20px; display: block; margin-top: 0px;">
  从前日落很慢，岁月坦然；<br>现在我们以梦为马，脚步从未停歇。<br>对未来的自己，我想说：
</p>
<textarea [(ngModel)]="shiguangshuo" name="" id="" style="width: 100%; height: 260px; background-color: transparent; border: 0px;">
</textarea>
<ion-button (click)="onClick()" expand="block" fill="clear" shape="round">
  保存时光说
</ion-button>
</ion-content>
