
.input-wrapper{
    background-color: powderblue;
} 
#btn_login{
    width: 96%;
    margin: auto;
    margin-left: 2%;
}

.icons{
    color: powderblue;
}
.span1{
    color: grey;
    font-size: 12px;
}
.span2{
    color: grey;
    font-size: 12px;
}
.span3{
    color: blue;
    font-size: 12px;
}
