#title1{
    margin-left: 20px;
}
#text{
    text-decoration: none;
}
#camera{
    display: block;
    color: gray;
    font-size: 2rem;
}
#weather{
    span{
        float: left;
        line-height: 36px;
        color: grey;
        display: block;
        text-align: center;
        margin-top: 3px;
        ion-icon{
        float: left;
        margin-top: 8px;
        }
    }
    ion-select{
        float: left;
    }
}
#fenlei{
    span{
        float: left;
        line-height: 36px;
        color: grey;
        display: block;
        text-align: center;
        margin-top: 3px;
        ion-icon{
        float: left;
        margin-top: 8px;
        }
    }
    ion-select{
        float: left;
    }
}

#quanxian{
    span{
        float: left;
        line-height: 36px;
        color: grey;
        display: block;
        text-align: center;
        margin-top: 3px;
        ion-icon{
        float: left;
        margin-top: 8px;
        }
    }
    ion-select{
        float: left;
    }
}